header
  div.headeritem
    p menu
  button(class='hamburger') &#9776;
  button(class='cross') &#735;

div.menu
  ul
    li 
      a(href="/") HOME
    li
      a(href="/garch") GARCH
    li
      a(href="/test") TEST
    li
      a(href="/correlation") CORRELATION
    li
      a(href="/backtest") BACKTEST