header
  div.headeritem
    p menu
  button(class='hamburger') &#9776;
  button(class='cross') &#735;

div.menu
  ul
    li 
      a(href="/") HOME
    li(class = "garchBurger")
      a(href="/garch") GARCH
    li(class = "markowitzBurger")
      a(href="/markowitz") MARKOWITZ
    li(class = "correlationBurger")
      a(href="/correlation") CORRELATION
    li
      a(href="/backtest") BACKTEST